/* This file is for global css rules that are not
   customizations of Bootstrap rules. Please put those
   in _overrides.less */

#app-name {
  background-image: url(../img/icon.png);
  background-repeat: no-repeat;
  background-position: 18px 5px;
  padding-left: 45px;
}
#app-name:hover {
  background-image: url(../img/icon-glow.png);
  background-repeat: no-repeat;
  background-position: 12px 0px;
}

.page-header {
    .backlink {
        .pull-right;
        padding-top: 6px;
        font-size: @baseFontSize;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * LABLIST
 * ~~~~~~~
 *
 * The list of labs on a grader home page. Includes a title, deadlines, stats
 * and a submission graph in the background.
 */
.lablist {
  > div {
    border-bottom: thin #ddd solid;
    margin: 1em 0;
    position: relative;
    z-index: 0;
    min-height: 66px;
    padding-bottom: 20px;
  
    h2 { margin:0; }

    .stats { line-height:36px; font-size: 1em; }

    .submission-graph {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 640px;
      z-index:-1;
 
      canvas {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

dl.info-list {
  margin: 0;

  > dt {
    clear: left;
    float: left;
    padding-right: .5em;
  }
  > dt:after {
    content: ":";
  }
}

.small-text {
    font-size: 0.8em;
}
.small-date { 
  .muted;
  .small-text;
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
}

.lab {
  > div {
    height: 9*@baseLineHeight + 8px;
  }

  h3 {
    margin-top: 0px;
    padding: 3px 6px;
    background: @grayEvenLighter;

    a { color: @black; }
  }

  h4 {
      padding-top: 8px;
  }

  .deadline-human {
      padding-top: 6px;
      font-size: 2.8em;
      line-height: 2*@baseLineHeight;
      font-weight: 300;
  }

  .deadline-date {
      .muted;
      padding-top: 6px;
  }

  .icon-custom-substatus {
    .icon-large;
    .pull-right;
    padding-right: 5px;
    color: darken(@grayEvenLighter, 20%);
  }

  &.substatus-none      .icon-custom-substatus { .icon-download-alt; }
  &.substatus-new       .icon-custom-substatus { .icon-download-alt; }
  &.substatus-submitted .icon-custom-substatus { .icon-ok;           }
  &.substatus-cancelled .icon-custom-substatus { .icon-warning-sign; color: @yellow; }
  &.substatus-accepted  .icon-custom-substatus { .icon-ok;           color: @green; }
  &.substatus-rejected  .icon-custom-substatus { .icon-ban-circle;   color: @red; }

}

.topinfo {
  margin-bottom: 23px;
}

.icon-extended-deadline {
  .icon-asterisk;
  color: @green;
}

.icon-warning {
  .icon-exclamation-sign;
  color: @red;
}

.fileaction {
  color: @blueDark;
  cursor: pointer;
  margin-left: 3px;
}

.submission {
  h3 { margin: 0px; }
  .filelisting-5col { margin-top: 9px; }
}

table.filelisting-5col {
  table-layout: fixed;

  .filename { width: 35%; }
  .size     { width: 15%; text-align: right; }
  .date     { width: 20%; }
  .user     { width: 20%; }
  .actions  { width: 10%; text-align: right; }

  td.filename, td.user { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

  td.date { .small-date; }

  .message-error {
    color: red;
    font-weight: bold;
  }

  .progress {
    margin-bottom: 0;
  }

  tbody > tr.nofiles { display: none; font-style: italic; }
  tbody > tr.nofiles:only-child { display: table-row; }
}

#fileupload { display: none; }

#modal-confirm-submit {
  ul.submission-authors li {
    list-style: none;
    font-size: 1.2em;
    line-height: 1.5*@baseLineHeight;
  }
}

tr.default-row { display: none; }

.grader-submissions-table {
  tr.other-grader {
    .muted;
    display: none;
  }
}

.submission {
  margin-bottom: 18px;
}

table.table-vcenter td {
  vertical-align: middle;
}

table.sortable thead th:hover
{
    background: #efefef;
    cursor: pointer;
}
