/*
Place custom styles here. Thes styles are ment to be loaded after
bootstrap, so the may override it's behavior.
*/

html, body {
  background-color: #eee;
}

input[type="radio"], 
input[type="checkbox"] {
    margin: 4px 0;
}

[class^="icon-"], 
[class*=" icon-"] {
  margin-top: 2px;
}

h1 { font-size: 30px; line-height: @baseLineHeight*2; }
h2 { font-size: 24px; line-height: @baseLineHeight*2; }
h3 { font-size: 18px; line-height: @baseLineHeight*2; }
h4 { font-size: 14px; line-height: @baseLineHeight; }
h5 { font-size: 12px; line-height: @baseLineHeight; }
h6 { font-size: 11px; line-height: @baseLineHeight; }
 
h1 small { font-size: 18px; font-weight: normal; }
h2 small { font-size: 18px; }
h3 small { font-size: 14px; }
h4 small { font-size: 12px; }

.navbar {
  margin: 0;
  font-weight: 300;

  .container {
    width: 940px;
  }

  ul {
    xpadding: 0;
  }
  
  .nav > li > a {
    color: #d0d0d0;
  }
}

.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  position: relative;  /* To get drop shadow on top of other elements */
}

/* The white background content wrapper */
.container > .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.container > footer {
  padding: 20px;
  text-align: center;
  color: #999;
  font-size: 0.9em;
}

/* Closer to the old labels from Bootstrap 1 */
.label {
  line-height: 16px;
  text-transform: uppercase;
  font-size: 9.5px;
  vertical-align: top;
}

/* Page header tweaks */
.page-header {
  background-color: @grayEvenLighter;
  border-bottom: 1px solid #ddd;
  padding: 12px 20px 6px 20px;
  margin: -20px -20px 18px;
  h1 > small > em {
        color: #666;
        font-style: normal;
  }
}

